// ----------------------------------------------------------------------------
// News specific styles, variables, placeholders, mixins and functions
// @see components/templates/News.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Variables
$news-height: 100vh
$news-width: 100vw

// Styles

.adt-news
  +flex(row, center, center)
  +size($news-width, $news-height)

  background-color: rgba($dark, 0.85)
