// ----------------------------------------------------------------------------
// This file contains very basic styles.
// ----------------------------------------------------------------------------

// Set up a decent box model on the root element
// Prevent scrolling
html
  box-sizing: border-box
  overflow: hidden

// Add default transition to all elements
*
  +transition

// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
*,
*::before,
*::after
  box-sizing: inherit

// Hide scrollbar
\::-webkit-scrollbar
  display: none

// Make body full size of viewport
// Set default text color
// Remove default margins
body
  +flex(column, center, space-between)
  +respond-to($breakpoint-schmedium)
    background-color: $black


  +size(100vw, 100vh)

  background-color: $dark
  color: $light
  margin: 0 !important
