// ----------------------------------------------------------------------------
// Paragraph specific styles, variables, placeholders, mixins and functions
// @see components/atoms/Paragraph.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Styles

.ada-paragraph
  color: $light
  margin: 0

  > span
    font-weight: 600

.author,
.blurb,
.category
  +respond-to($breakpoint-xxl, min)
    font-size: size(20)


  +respond-to($breakpoint-xxxl, min)
    font-size: size(24)


  font-size: size(16)

.author,
.category
  font-weight: 500
  margin-right: size(10)
  text-transform: uppercase

.blurb
  font-weight: 300
  margin: size(10) 0 size(20)
  width: 100%

.category
  color: $accent-med

.subheading
  +respond-to($breakpoint-xxl)
    font-size: size(24)


  font:
    size: size(18) !important
    weight: 300
  margin-bottom: size(10)
  text-transform: uppercase

  > .ada-link
    color: $light
    font-weight: 500
