// ----------------------------------------------------------------------------
// Deck page specific styles, variables, placeholders, mixins and functions
// @see components/organisms/Deck.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

.ado-deck
  +flex(column, center, space-between)

  background:
    position: center center
    repeat: no-repeat
    size: cover
