// ----------------------------------------------------------------------------
// Header specific styles, variables, placeholders, mixins and functions
// @see components/organisms/Header.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Variables
$header-height: auto
$header-padding: size(40) 0
$header-width: 100vw

// Styles

// Make header full width
// Add space on the top and bottom of header
.ado-header
  +size($header-width, $header-height)

  > .ada-container
    padding: $header-padding
