// ----------------------------------------------------------------------------
// Deck page specific styles, variables, placeholders, mixins and functions
// @see components/organisms/Deck.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Variables
$deck-height: 100%
$deck-width: 100%

.ado-deck
  +flex(column, center, space-between)
  +size($deck-width, $deck-height)

  background:
    position: center center
    repeat: no-repeat
    size: cover
  height: 92.5%
