// ----------------------------------------------------------------------------
// Footer specific styles, variables, placeholders, mixins and functions
// @see components/organisms/Footer.jsx
// @author Lexus Drumgold
// ----------------------------------------------------------------------------

// Variables
$footer-border: size(0.5) solid $light
$footer-height: size(90)
$footer-padding: size(40) 0
$footer-width: 100vw

// Styles

// Make footer full width
// Add space on the top and bottom of footer
.ado-footer
  +flex(row, center)
  +size($footer-width, $footer-height)

  background-color: $black
  padding: size(24) 0 size(24) 3.25%

  .adm-logo
    +constrain(size(80))

    background-color: $black
    border-right: $footer-border
    margin-right: size(16)
    padding-right: size(20)
    z-index: 5

  &.multimedia-border
    border-top: $footer-border
